name: FriCAS CI on Linux

on: [push, pull_request]
permissions: {}

jobs:
  build:

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04, ubuntu-24.04-arm]
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    env:
      ARCH: ${{ matrix.os == 'ubuntu-24.04' && 'x86-64' || 'arm64' }}

    steps:
    - uses: actions/checkout@v4
    - name: install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install sbcl libgmp-dev libxpm-dev

    - name: configure
      run: ./configure --with-lisp=sbcl --with-gmp --with-x || cat config.log

    - name: make
      run: make -j4 --output-sync

    - name: Create artifact archives
      run: |
        tar -cjf FriCAS-linux-${ARCH}-${{ github.sha }}.tar.bz2 target/

    - name: Upload Linux binary
      uses: actions/upload-artifact@v4
      with:
        name: FriCAS-linux-${{ env.ARCH }}-binary
        path: FriCAS-linux-${{ env.ARCH }}-${{ github.sha }}.tar.bz2

    - name: make check
      run: make check -j4 --output-sync

    - name: make book
      if: ${{ github.event_name == 'push' && github.ref_type == 'tag' }}
      run: |
        sudo apt-get install xvfb texlive-font-utils texlive-latex-extra texlive-science
        make -j4 book

    - name: Upload reference book
      if: ${{ github.event_name == 'push' && github.ref_type == 'tag' }}
      uses: actions/upload-artifact@v4
      with:
        name: fricas-reference-book-${{ env.ARCH }}
        path: src/doc/book.pdf

